<div class="col-md-4">    
    <div class="feature feature-1">
        <img alt="Image" src="images/{{img}}" />
        <div class="feature__body boxed boxed--lg boxed--border">
            <h3>{{title}}</h3>
            <p class="lead">
                Save time with a multitude of styled components designed to showcase your content
            </p>
            <a href="#">
                Learn More
            </a>
        </div>
    </div>
</div>    
