<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<!-- <body class="container"> -->
<body class="">
	{{>nav}}
	<div class="main-container">
    {{#data}}
        <h3>{{name}}</h3>
    {{/data}}
	</div>
    {{>footer}}{{>scripts}}
</body>
</html>
